/*common*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container{
    display: flex;
    justify-content: center;
    
}
body{
    font-family:'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/*header*/
header{
    background-color: rgb(13, 36, 244);
    height: 50px;
    display: flex;
    flex-direction: row;
}

.header-top{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
}

li{
    padding-right: 30px;
    color: white;
}

.linkmenu{
    list-style-type: none; 
}

.logo{
    
}

.login{
    background-color: white;
    padding: 10px;
    border-radius: 40px;
}


/*main*/
.bgjumbo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 455px;
    width: 100%;
    margin-bottom: 20px;
    background-image: url(./img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.textsquare{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: none;
    height: 200px;
    width: 400px;
    font-weight:bold;
    color: white;
}

.btnwhite{
    background-color: white;
    padding: 7px;
    border-radius: 40px;
    color: black;
}


.btngrey{
    background-color: rgb(40, 43, 46);
    padding: 7px;
    border-radius: 40px;
}

.backwhite{
    background-color: white;
     width: auto;
     padding: 20px;
}

.backgrey{
    display: flex;
    background-color: grey;
    width: auto;
    padding: 20px;
    justify-content: center;
}
.boxlb{
    background-color: lightblue;
    height: 200px;
    width: 300px;
    margin-bottom: 10px;
    border: 1px dotted;
}

.boxpk{
    background-color: pink;
    height: 200px;
    width: 200px;
    border: 1px dotted;
}

.greensquare{
    display: flex;
    background-color: green;
    width: 500px;
    height: 300px;
    border: 1px dotted;
}

/*footer*/
.backblack{
    display: flex;
    background-color: black;
    width: auto;
    padding: 20px;
    justify-content: center;
}

.aside{
    background-color: pink;
    width: 200px;
    height: 300px;
    border: 1px dotted;
}

.columns{
    background-color: aqua;
    width: 500px;
    height: 300px;
    border: 1px dotted;
    display: flex;
}

.col{
    border: 1px dotted white;
    width: calc(100% / 4);
    height: 300px;
}

.lastcontainer{
    background-color: black;
    width: auto;
    height: 80px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.foot{ 
    background-color: white ;
    width: 700px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo2{
    border: 1px dotted;
    width: auto;
    height: 30px;
}

.btn{
    border: 1px dotted;
    width: auto;
    height: 30px;
}


